
</body>

<footer class="flex-wrap justify-content-center align-items-center py-3">
  <strong>Sistemas Distribuídos</strong>
  <br>
  <strong>Guilherme | Douglas | Natália</strong> 
</footer>

</html>
